.Homepage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 25px;
  font-family: sans-serif;
}

.Homepage h1 {
  font-size: 30px;
  color: rgb(23, 75, 170);
}

.Homepage p {
  color: #000;
}

@media (max-width: 768px) {
  .Homepage {
    padding: 15px;
    gap: 20px;
  }

  .Homepage h1 {
    font-size: 24px;
  }

  .Homepage p {
    font-size: 16px;
  }
}
