nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px 50px;
  background-color: rgb(6, 6, 43);
  color: #fff;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}

nav ul li a:hover {
  color: rgb(230, 54, 34);
}

nav h1 {
  font-size: 40px;
  font-family: sans-serif;
}
